@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
address,
ul,
figure {
  margin: 0;
}

ul {
  padding-left: 0;
}

p {
  font-weight: 300;
}

h2 {
  font-weight: 500;
}

@media (min-width: 300px) {
  header {
    background-image: url("/img/header-home-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
  }
  header > section {
    background-color: rgba(25, 25, 25, 0.6);
    width: 100%;
    height: 100%;
  }
  header > section > section {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
  }
  header nav > ul {
    display: none;
  }
  header h1 {
    color: whitesmoke;
    font-size: 40px;
    font-weight: 300;
    padding-left: 10%;
  }
  header a {
    color: whitesmoke;
    text-decoration: none;
  }
  header details {
    padding-top: 3%;
    width: 95%;
    text-align: right;
    position: absolute;
  }
  header details a {
    text-transform: uppercase;
  }
  header summary {
    color: whitesmoke;
    font-size: 30px;
  }
  footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 3vh;
    padding-bottom: 3vh;
    row-gap: 3vh;
    border-top: 1px solid lightgray;
  }
  footer > section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    row-gap: 1vh;
  }
  footer article {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
  footer p {
    color: whitesmoke;
    font-size: 14px;
  }
  footer a {
    border: 1px solid whitesmoke;
    border-radius: 50%;
    color: whitesmoke;
    width: 3vh;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  footer aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
  }
  footer i {
    font-size: 14px;
  }
  .about {
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
  }
  .about > section {
    width: 95%;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    -moz-column-gap: 0;
         column-gap: 0;
    align-items: center;
  }
  .about h2 {
    font-size: 25px;
    text-transform: uppercase;
  }
  .about p,
.about h2 {
    color: whitesmoke;
  }
  .about p {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
  }
  .about p > span {
    color: firebrick;
    font-weight: 500;
  }
  .about article {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }
  .about article > span {
    border-bottom: 1px solid whitesmoke;
  }
  .about > a {
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    width: 3vh;
    height: 3vh;
    display: flex;
    flex-direction: row;
    row-gap: 0;
    -moz-column-gap: 0;
         column-gap: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(38, 40, 38);
    row-gap: 5vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
  .features h2 {
    color: whitesmoke;
    font-size: 25px;
    text-transform: uppercase;
  }
  .features h3 {
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }
  .features p {
    color: whitesmoke;
    font-size: 14px;
    line-height: 1.5;
  }
  .features > section {
    display: flex;
    flex-direction: column;
    row-gap: 8vh;
    -moz-column-gap: 0;
         column-gap: 0;
    width: 95%;
  }
  .features > section a {
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
  }
  .features figure {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
  }
  .features img {
    width: 35vh;
    height: 26vh;
  }
  .features figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
  }
  .features > a {
    width: 3vh;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 50%;
  }
  .organization {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    align-items: center;
    row-gap: 3vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: black;
    color: whitesmoke;
  }
  .organization article {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    align-items: center;
  }
  .organization article figure {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    align-items: center;
  }
  .organization article figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
    width: 95%;
  }
  .organization article > a {
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    width: 3vh;
    height: 3vh;
    display: flex;
    flex-direction: row;
    row-gap: 0;
    -moz-column-gap: 0;
         column-gap: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .organization img {
    width: 100%;
  }
  .organization section {
    display: flex;
    flex-direction: column;
    row-gap: 7vh;
    align-items: center;
  }
  .organization section i {
    font-size: 5vh;
  }
  .organization aside {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
  }
  .organization h2 {
    font-size: 25px;
    text-transform: uppercase;
  }
  .organization h3 {
    text-transform: uppercase;
    font-size: 20px;
  }
  .organization p,
.organization a {
    font-size: 14px;
  }
  .organization a {
    text-decoration: none;
    color: whitesmoke;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
    background-color: rgb(38, 40, 38);
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
  .contact form {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    -moz-column-gap: 0;
         column-gap: 0;
    width: 95%;
    align-items: center;
  }
  .contact h2 {
    font-size: 25px;
    text-transform: uppercase;
    color: whitesmoke;
  }
  .contact input {
    width: 100%;
    height: 4vh;
    padding: 1%;
  }
  .contact textarea {
    height: 15vh;
    width: 100%;
    padding: 1%;
  }
  .contact [type=submit] {
    width: 30%;
    background-color: white;
    border: none;
    font-size: 14px;
  }
  .contact ::-moz-placeholder {
    font-size: 14px;
  }
  .contact :-ms-input-placeholder {
    font-size: 14px;
  }
  .contact ::placeholder {
    font-size: 14px;
  }
  .contact > section {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    width: 95%;
    align-items: center;
  }
  .contact h3 {
    color: whitesmoke;
    text-transform: uppercase;
  }
  .contact address {
    color: whitesmoke;
    font-size: 14px;
  }
  .contact a {
    color: whitesmoke;
    font-size: 14px;
  }
  .contact iframe {
    height: 40vh;
    width: 100%;
  }
}
@media (min-width: 700px) {
  header {
    height: 35vh;
  }
  header h1 {
    font-size: 48px;
    padding-left: 0;
  }
  header a {
    font-size: 24px;
  }
  header summary {
    font-size: 50px;
  }
  header > section section {
    width: 100%;
  }
  footer {
    padding-top: 11vh;
    padding-bottom: 2vh;
  }
  footer > section {
    width: 100%;
  }
  footer p {
    font-size: 16px;
    text-align: center;
  }
  footer a {
    width: 6vh;
    height: 6vh;
  }
  footer i {
    font-size: 20px;
  }
  footer article {
    width: 30%;
  }
  .about {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .about h2 {
    font-size: 30px;
  }
  .about p {
    font-size: 16px;
    width: 90%;
  }
  .about > a {
    width: 8vh;
    height: 8vh;
  }
  .about i {
    font-size: 24px;
  }
  .features {
    padding-top: 10vh;
    padding-bottom: 10vh;
    row-gap: 8vh;
  }
  .features h2 {
    font-size: 30px;
  }
  .features h3 {
    font-size: 24px;
  }
  .features p {
    font-size: 16px;
  }
  .features > section {
    row-gap: 8vh;
    width: 90%;
  }
  .features > section > a {
    font-size: 16px;
  }
  .features img {
    width: 50vh;
    height: 38vh;
  }
  .features > a {
    width: 8vh;
    height: 8vh;
  }
  .features i {
    font-size: 24px;
  }
  .organization {
    padding-top: 10vh;
    padding-bottom: 10vh;
    row-gap: 8vh;
  }
  .organization h2 {
    font-size: 30px;
  }
  .organization article {
    row-gap: 8vh;
  }
  .organization article figure {
    flex-direction: row;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    width: 95%;
  }
  .organization article img {
    width: 50%;
  }
  .organization article figcaption {
    width: 50%;
  }
  .organization article > a {
    width: 8vh;
    height: 8vh;
  }
  .organization article i {
    font-size: 24px;
  }
  .organization section {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    justify-content: center;
  }
  .organization section a {
    width: 50%;
    text-align: center;
  }
  .organization aside {
    width: 30%;
  }
  .organization aside figcaption {
    width: 100%;
  }
  .organization aside i {
    font-size: 5vh;
  }
  .contact {
    padding-top: 10vh;
    padding-bottom: 10vh;
    row-gap: 8vh;
  }
  .contact h2 {
    font-size: 30px;
  }
  .contact form {
    width: 55%;
    row-gap: 3vh;
  }
  .contact input {
    height: 5vh;
  }
  .contact textarea {
    height: 18vh;
  }
  .contact > section {
    row-gap: 2vh;
  }
  .contact h3 {
    font-size: 24px;
  }
  .contact address {
    font-size: 16px;
  }
  .contact a {
    font-size: 20px;
    padding-bottom: 1%;
  }
  .contact address {
    text-align: center;
  }
  .contact iframe {
    height: 50vh;
  }
  .contact [type=submit] {
    font-size: 16px;
  }
  .contact ::-moz-placeholder {
    font-size: 16px;
  }
  .contact :-ms-input-placeholder {
    font-size: 16px;
  }
  .contact ::placeholder {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */