@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin flexThings($direction,$row,$column){
  display: flex;
  flex-direction: $direction;
  row-gap: $row;
  column-gap: $column;
}

@mixin flexUseful($direction,$row,$column,$justify,$align){
  display: flex;
  flex-direction: $direction;
  row-gap: $row;
  column-gap: $column;
  justify-content: $justify;
  align-items: $align;
}

@mixin bgImg($img){
  background-image: url($img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}