*{
  margin: 0;
  padding: 0;
  font-family: $defaultfamily;
}

html{
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
address,
ul,
figure{
  margin: 0;
}

ul{
  padding-left: 0;
}

p{
  font-weight: 300;
}

h2{
  font-weight: 500;
}