@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$defaultfamily:'Open Sans', sans-serif;
$defaultGray:rgb(17,18,17);
$defaultWhite:whitesmoke;
$defaultLayer:rgba(25, 25, 25, 0.6);
$defaultBlack:black;
$fontSizeH1Mob:40px;
$fontSizeH2Mob:25px;
$fontSIzePMob:14px;
$min-WidthMob:300px;
$min-widthTab:700px;
$min-widthDes:1000px;
