@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$defaultfamily:'Open Sans', sans-serif;
$defaultGray:rgb(38, 40, 38);
$defaultWhite:whitesmoke;
$defaultLayer:rgba(25, 25, 25, 0.6);
$defaultBlack:black;
$fontSizeH1Mob:40px;
$fontSizeH1Tab:48px;
$fontSizeH1Des:60px;
$fontSizeH2Mob:25px;
$fontSizeH2Tab:30px;
$fontSizeH2Des:34px;
$fontSizeH3Mob:20px;
$fontSizeH3Tab:24px;
$fontSizeH3Des:28px;
$fontSIzePMob:14px;
$fontSizePTab:16px;
$fontSizePDes:16px;
$min-WidthMob:200px;
$min-widthTab:600px;
$min-widthDes:1000px;
