@import 'variables';
@import 'mixins';
@import 'normalize';

// MONILE
@import 'home/mobile';
@import 'organization/mobile';
@import 'features/mobile';

// TABLET
@import 'home/tablets';
@import 'organization/tablets';
@import 'features/tablets';

//DESKTOP
@import 'home/desktop';
@import 'organization/desktop';
@import 'features/desktop';

//hello comment
// TEST