@media(min-width:$min-widthDes){
  header {
    height: 50vh;
    h1 {
      font-size: $fontSizeH1Des;
    }
    details {
      display: none;
    }
    nav{
      >ul {
        display: flex;
        justify-content: flex-end;
        column-gap: 5vh;
        padding-top: 2%;
        padding-right: 1%;
      }
    }
    a {
      font-size: 30px;
      text-transform: uppercase;
      transition: .4s;
      &:hover {
        color: rgb(168, 167, 167);
      }
    }

    >section{
      >section{
        padding-bottom: 5%;
      }
    }
  }

  footer{
    padding-top: 5vh;
    padding-bottom: 5vh;
    flex-direction: row;
    justify-content: space-around;

    >section{
      width: 30%;
    }

    aside{
      width: 30%;
      padding-left: 15%;
    }
    article{
      width: 50%;
      justify-content: space-between;
      }

    a{
      transition: .4s;
      &:hover{
        background-color: $defaultWhite;
        i{
          color: $defaultBlack;
        }
      }
    }
  }

  .headerorgbg{
    h1{
      font-size: $fontSizeH1Des;
    }
  }

  .about{
    h2{
      font-size: $fontSizeH2Des;
    }
    a {
      width: 4vh;
      height: 4vh;
      transition: .4s;
      &:hover{
        background-color: $defaultWhite;
        i{
          color: $defaultBlack;
        }
      }
    }
    i {
      font-size: 18px;
    }
  }

  .features{
    row-gap: 4vh;
    h2{
      font-size: $fontSizeH2Des;
    }

    h3{
      font-size: $fontSizeH3Des;
    }

    p{
      font-size: $fontSizePDes;
    }

    >section{
      row-gap: 4vh;
      width: 85%;

      >a{
        font-size: 20px;
        transition: .4s;
        &:hover{
          color: rgb(168, 167, 167);
        }
      }
    }

    img{
      height: 65vh;
    }

    >a{
      width: 4vh;
      height: 4vh;
      transition: .4s;
      &:hover {
        color: $defaultBlack;
        background-color: $defaultWhite;
      }
    }
  }

  .carousel-caption {
    padding-bottom: 10vh;
  }

  .organization {
    article {
      row-gap: 13vh;
      a {
        width: 4vh;
        height: 4vh;
        transition: .4s;
        &:hover {
          color: $defaultBlack;
          background-color: $defaultWhite;
        }
      }
    }
    h2 {
      font-size: $fontSizeH2Des;
    }
    h3 {
      font-size: $fontSizeH3Des;
    }
    p{
      font-size: $fontSizePDes;
    }
    aside {
      width: 41vh;
      height: 41vh;
    }
    section {
      justify-content: center;
      column-gap: 5vh;
      width: 90%;

      >a {
        font-size: 20px;
        width: 90%;
        &:hover {
          background-color: transparent;
          color: rgb(168, 167, 167);
        }
      }
    }
  }
  
  .contact {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 10vh;

    h2{
      width: 100%;
      text-align: center;
      font-size: $fontSizeH2Des;
    }

    h3{
      font-size: $fontSizeH3Des;
    }

    form{
      width: 35%;
    }

    input,
    textarea{
      width: 100%;
    }

    >section{
      width: 35%;
    }

    iframe{
      height: 40vh;
      width: 90%;
    }

    [type="submit"]{
      transition: .4s;
      &:hover{
        background-color: darkgray;
        color: $defaultWhite;
      }
    }

    ::placeholder{
      font-size: $fontSizePDes;
    }

    a{
      &:hover{
        color:  rgb(168, 167, 167);
      }
    }
  }
}