@media (min-width:$min-widthTab){
    header{
        height: 35vh;
        h1{
            font-size: $fontSizeH1Tab;
            padding-left: 0;
        }

        a{
            font-size:24px;
        }

        summary{
            font-size: 50px;
        }

        >section{
            section{
                width: 100%;
            }
        }
    }

    footer{
        padding-top: 11vh;
        padding-bottom: 2vh;


        >section{
            width: 100%;
        }

        p{
            font-size: $fontSizePTab;
            text-align: center;
        }

        a{
            width: 6vh;
            height: 6vh;
        }

        i{
            font-size: 20px;
        }

        article{
            width: 30%;
        }
    }

    .about{
        padding-top: 10vh;
        padding-bottom: 10vh;

        h2{
            font-size: $fontSizeH2Tab;
        }   

        p{
            font-size: $fontSizePTab;
            width: 90%;
        }

        >a{
            width: 8vh;
            height: 8vh;
        }

        i{
            font-size: 24px;
        }
    }

    .features{
        padding-top: 10vh;
        padding-bottom: 10vh;
        row-gap: 5vh;
        h2{
            font-size: $fontSizeH2Tab;
        }

        h3{
            font-size: $fontSizeH3Tab;
        }

        p{
            font-size: $fontSizePTab;
            line-height: 2;
        }

        >section{
            row-gap: 2vh;
            width: 80%;

            >a{
                font-size: $fontSizePTab;
            }
        }

        img{
            height: 40vh;
        }

        >a{
            width: 8vh;
            height: 8vh;
        }

        i{
            font-size: 24px;
        }


    }

    .organization {
        padding-top: 10vh;
        padding-bottom: 10vh;
        row-gap: 8vh;
        h2 {
            font-size: $fontSizeH2Tab;
        }
        article {
            row-gap: 8vh;
            figure {
                flex-direction: row;
                column-gap: 2vh;
                width: 95%;
            }

            img{
                width: 50%;
            }
            figcaption {
                width: 50%;
            }

            >a{
                width: 8vh;
                height: 8vh;
            }

            i{
                font-size: 24px;
            }
        }
        section {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 2vh;
            justify-content: center;
            a {
                width: 50%;
                text-align: center;
            }
        }

        aside {
            width: 37vh;
            height: 37vh;
            figcaption {
                width: 100%;
            }

            i{
                font-size: 5vh;
            }
        }
        
    }

    .contact{
        padding-top: 10vh;
        padding-bottom: 10vh;
        row-gap: 8vh;

        h2{
            font-size: $fontSizeH2Tab;
        }

        form{
            width: 55%;
            row-gap: 3vh;
        }

        input{
            height: 5vh;
        }

        textarea{
            height: 18vh;
        }

        >section{
            row-gap: 2vh;
        }
        
        h3{
            font-size: $fontSizeH3Tab;
        }
        
        address{
            font-size: $fontSizePTab;
        }

        a{
            font-size: 20px;
            padding-bottom: 1%;
        }
        
        address{
            text-align: center;
        }

        iframe{
            height: 50vh;
        }

        i{
            font-size: 20px;
        }
        
        [type="submit"]{
            font-size: $fontSizePTab;
        }

        ::placeholder{
            font-size: $fontSizePTab;
        }
        
    }

}